.mediaScroller {

    // Image Item
    .buttonImageItem {
        width: 18vw;

        .divImageItem {
            margin-top: auto;
            margin-bottom: auto;


            .itemIcon {

                img {
                    width: 8vw;
                }
            }

            .itemFooter {

                a {

                }
            }
        }
    }


    // Video Item
    .buttonVideoItem:hover {
        background-color: transparent;
    }

    .buttonVideoItem {
        background-color: transparent;
        width: 18vw;


        .divVideoItem {
            margin-top: auto;
            margin-bottom: auto;


            .videoItemIcon {

                img {
                    width: 6vw;
                }
            }

            .videoItemFooter {

                a {

                }
            }
        }
    }


    overflow: auto;
    display: flex;
    flex-wrap : nowrap;
}

.mediaScrollerDivWrapper{
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    bottom: 0;
}

.mediaScrollerButton {
    position: absolute;
    bottom: 14vw;


    cursor: pointer;
    float: left;
    border: #282c34 3px solid;
    border-radius: 50%;

    height: 100px;
    width: 100px;
}

.mediaScrollerItem {

}